* {
  margin: unset;
  padding: unset;
  box-sizing: border-box;
}

.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #fff;
  margin: 0.3rem 1rem 0 1rem;
}

.App-header {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  color: rgb(213, 32, 32);
  border-bottom: 3px solid;
}

.App-header img {
  width: 180px;
  height: 180px;
}

.App-body {
  height: 60vh;
  padding: 3rem;
  border-bottom: 3px solid rgb(213, 32, 32);
}

.App-body .form {
  margin-top: 1rem;
  border: 1.5px solid rgb(213, 32, 32);
  width: 50%;
  height: 70%;
  padding: 1rem 1.5rem;
  font-size: 18px;

}

.App-body .form .form-email {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.App-body .form .form-password {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.input {
  padding: 5px 0;
}

.form .form-btn {
  width: 100%;
  padding: 5px 0;
  font-size: 1rem;
  cursor: pointer;
  background-color: rgb(253, 67, 89);
  color: #fff;
}

.App-footer {
  font-style: italic;
  text-align: center;
  padding-top: 1rem;
}

.Notification {
  border: 2px solid red;
}